<% include header %>

<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/detailstyle.css">

<main>

<a href="javascript:history.back()">Terug</a>

<div class="contactbox">

<h1>Contacteer ons</h1>

<p>Welkom bij OPT GEMAK</p>

<p>Deze app zal jouw weg naar het toilet vergemakkelijken.</p>

<p>Hebt u nog vragen of opmerkingen aarzel dan niet en contacteer ons op <a href="mailto:larissa.marien@student.ap.be">info@optgemak.be</a></p>

</div>

</main>

<% include footer %>
