<% include header %>
<% include nav %>
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/detailstyle.css">


<h1><%=toilet.attributes.OMSCHRIJVING %></h1>

<p>Larissa</p>


<% include footer %>
