<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no">
    <title>OPT GEMAK</title>
    <link rel="icon" href="/images/logo_blauw.png">

  </head>
  <body>
    <header>
      <div class="heading">
        <img class="toiletrol" src="/images/logo_blauw.png" alt="Logo opt gemak" height="40" width="40">
        <a href="/map"><img src="/images/naam_blauw.png" alt="Logo opt gemak" height="25"></a>
      </div>
    </header>
