<% include header %>

<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/isotopestyle.css">


  <div class="list">

    <a href="/map">Terug</a>

    <h1>Filteropties</h1>

    <div class="button-group filters-button-group">
      <button class="button is-checked" data-filter="*"></button>
      <button class="button" data-filter=".man"></button>
      <button class="button" data-filter=".vrouw"></button>
      <button class="button" data-filter=".handicap"></button>
      <button class="button" data-filter=".luiertafel"></button>
    </div>

    <h1>Lijstweergave</h1>
    <div class="grid">

  <%
    var toiletLijst = toiletten.length;
    for(var toiletIndex=0; toiletIndex<toiletLijst; toiletIndex++) {
  %>



            <% var toilet = toiletten[toiletIndex] %>

            <%
            let classes = "";
              if (toilet.attributes.INTEGRAAL_TOEGANKELIJK == "ja") {
                classes += " handicap ";
              }
              if (toilet.attributes.DOELGROEP == "man" ) {
                classes += " man ";
              }
              if (toilet.attributes.DOELGROEP == "vrouw" ) {
                classes += " vrouw ";
              }
              if (toilet.attributes.DOELGROEP == "man/vrouw" ) {
                classes += " man vrouw ";
              }
              if (toilet.attributes.LUIERTAFEL == "ja" ) {
                classes += " luiertafel ";
              }
            %>

          <div class="element-item <%=classes%>">
            <p class="">Toilet: <%=toilet.attributes.OMSCHRIJVING %></p>
            <a class="more" href="/toiletdetail/<%=toiletIndex %>">meer lezen...</a>
          </div>

  <%
    }
  %>

    </div>

  <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
  <script src="/js/lijst.js"></script>

<% include footer %>
