<% include header %>
<% include nav %>
<link rel="stylesheet" href="/css/style.css">

<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
<script src="/js/lijst.js"></script>

<h1>Lijst met toiletten</h1>
  <div class="list">
  <%
    var toiletLijst = toiletten.length;
    for(var toiletIndex=0; toiletIndex<toiletLijst; toiletIndex++) {
  %>


      <section>
        <% var toilet = toiletten[toiletIndex] %>
        <% include toiletdetail %>
      </section>

  <%
    }
  %>

<% include footer %>
