<% include header %>

<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/mapstyle.css">

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>

<a href="/lijst">Meer filters en lijstweergave</a>

<div id="map">

</div>


<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==" crossorigin=""></script>
<script src="/js/map.js"></script>
<script>

  <% for(var toiletIndex=0; toiletIndex < toiletten.length; toiletIndex++) { %>

            var toiletpapier = L.icon({
                iconUrl: '/images/mapicoon.png',

                iconSize:     [35, 35],
                popupAnchor:  [1, -5]
              });
          L.marker([<%-toiletten[toiletIndex].geometry.y %>, <%-toiletten[toiletIndex].geometry.x %>],{icon: toiletpapier}).addTo(map)
              .bindPopup("<p class='popuptext'><a class='leesmeer' href='/toiletten/<%=toiletIndex%>'> <%- toiletten[toiletIndex].attributes.OMSCHRIJVING%></a></p>")
          <% } %>



</script>



<% include footer %>
