.extra {
  display: none;
}

.extraslash {
  display: inline;
}

.nietman {
  display: none;
}

.nietvrouw {
  display: none;
}

.niethandicap {
  display: none;
}

.nietluier {
  display: none;
}

.nietbetalend {
  display: none;
}

.betalen {
  display: none;
}
